<div class="rootDiv">
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>
      Referrals
    </span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>account_box</md-icon>
    </button>
  </md-toolbar>
  <md-sidenav-layout>
    <md-sidenav mode="over" #sidenav>
      <md-nav-list>
        <a md-list-item partner-user-only (click)='sidenav.close()' routerLink="/referrals">Show Open Referrals</a>
        <a md-list-item partner-user-only (click)='sidenav.close()' routerLink="/contacts">Find a Contact</a>
        <a md-list-item partner-user-only (click)='sidenav.close()' routerLink="/contacts/create">Create a Contact</a>
        <a md-list-item admin-user-only (click)='sidenav.close()' routerLink="/admin">Administration</a>
      </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
    <div style="margin-top:2rem;border:solid 2px #600;font-weight:bold;border-radius:1rem;padding:1rem;background-color:#FFA;">The Referrals application is currently in TEST mode.  Create all the test contacts and referrals you want.  All the data will be cleared before switching over to LIVE mode on December 19, 2016.</div>
  </md-sidenav-layout>
</div>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item (click)="auth.logout()">Sign Out</button>
</md-menu>