<div class="rootDiv">
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>
      Referrals
    </span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>account_box</md-icon>
    </button>
  </md-toolbar>
  <md-sidenav-layout>
    <md-sidenav mode="over" #sidenav>
      <md-nav-list>
        <a md-list-item routerLink="/open">Open Referrals</a>
        <a md-list-item (click)="sidenav.close()">Find a contact</a>
        <a md-list-item (click)="sidenav.close()">Create a contact</a>
        <a md-list-item (click)="sidenav.close()">Administration</a>
      </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-layout>
</div>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item (click)="auth.logout()">Sign Out</button>
</md-menu>