<div class="rootDiv">
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>
      Referral App
    </span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>account_box</md-icon>
    </button>
  </md-toolbar>
  <md-sidenav-layout>
    <md-sidenav mode="over" #sidenav>
      <button md-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>
    </md-sidenav>
    Content goes here...
  </md-sidenav-layout>
</div>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item (click)="signout()">Sign Out</button>
</md-menu>