<h1>Open Referrals for ...</h1>

<div class="mt-wrapper">
  
  <div class="mt-table">
    
    <div class="mt-row header">
      <div class="mt-cell">Contact</div>
      <div class="mt-cell">Business</div>
      <div class="mt-cell">From</div>
    </div>
    
    <div class="mt-row clickable" *ngFor="let referral of referrals" routerLink="/referrals/{{referral.rid}}">
      <div class="mt-cell">{{contacts[referral.cid].name}}</div>
      <div class="mt-cell">{{contacts[referral.cid].business}}</div>
      <div class="mt-cell">{{partners[referral.to_pid].name}}</div>
    </div>
  </div>
    
</div>