<h1>Open Referrals for <partner-select [partners]="partners | async" [currentId]="to_pid" (newValue)="to_pid = $event"></partner-select></h1>

<div class="mt-wrapper">
  
  <div class="mt-table">
    
    <div class="mt-row header">
      <div class="mt-cell">Contact</div>
      <div class="mt-cell">Business</div>
      <div class="mt-cell">From</div>
    </div>
    
    <div class="mt-row clickable" *ngFor="let referral of filteredReferrals()" routerLink="/referrals/{{referral.rid}}">
      <div class="mt-cell">{{contactsHash[referral.cid].name}}</div>
      <div class="mt-cell">{{contactsHash[referral.cid].business}}</div>
      <div class="mt-cell">{{partnersHash[referral.from_pid].name}}</div>
    </div>
  </div>
    
</div>