@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #777;
}

.rootDiv {
  max-width: 600px;
  margin: 0 auto 5px auto;
}

md-toolbar {
  max-width: 600px;
  position: fixed;
  z-index: 1000;
  min-height: 48px !important;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
md-toolbar md-toolbar-row {
  justify-content: space-between;
  height: 48px !important;
  line-height: 48px;
}

md-toolbar md-toolbar-row span {
  flex-grow: 1;
}

p {
  margin: 16px;
}

div.md-overlay-container {
  z-index: 2000;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  top: 48px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  min-height: 500px;
  background-color: #FFF !important;
}

md-sidenav {
  width: 200px;
  box-shadow: 1px 0 4px rgba(0,0,0,0.5);
}

.md-sidenav-content {
  padding: 20px;
}

div.md-sidenav-backdrop.md-sidenav-shown {
    background-color: rgba(0, 0, 0, 0.2);
}

.icon-20 {
  font-size: 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}